[Unit]
Description=MLAB API Puma HTTP Server
After=network.target

[Service]
Type=simple
User=meduser
WorkingDirectory=/var/www/mlab_api/
Environment="RAILS_ENV=production"
Environment="SECRET_KEY_BASE=$(bundle exec rails secret)"
ExecStart=/bin/bash -lc '/home/meduser/.rvm/gems/ruby-3.2.0/bin/puma -C /var/www/mlab_api/config/puma.rb'
RestartSec=1
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target