dde_service:
  base_url: localhost
  port: 8050
  username: username
  password: password

# facility:
#   name: Kamuzu Central Hospital
#   code: KCH
#   address: P.O BOX 21, Lilongwe
#   phone: +2651123435, +2651123424