dde_service:
  base_url: localhost
  port: 8050
  username: username
  password: password

nlims_service:
  base_url: localhost
  port: 3009
  username: username
  password: password
  enable_real_time_sync: true

default:
  accession_number_length: true 
  pregenerate_report_moh_report: false
  use_elasticsearch: true

oerr_service:
  base_url: http://localhost:8080
  username: username
  password: password
  push: true

ciheb_gex_subscription:
  ciheb_eid_vl_enpoint: "http://eid_vl_server_ip/api/v1/subscribe/genexprt"
  app_name: "IBLIS"
  organization_name: "EGPAF"
  iblis_result_endpoint: "/api/v1/interfacer/genexpert"
  iblis_ip_address: "192.168.1.1"
  iblis_backend_port: 8005
  iblis_username: "YourUsername"
  iblis_password: "YourPassword"
  client_type: "other"