dde_service:
  base_url: localhost
  port: 8050
  username: username
  password: password

nlims_service:
  base_url: localhost
  port: 3009
  username: username
  password: password

default:
  accession_number_length: true 
  pregenerate_report_moh_report: false
  use_elasticsearch: true